@font-face {
    font-family: 'BYekan';
    src: url('/assets/css/BYekan/BYekan+.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'BYekan';
    src: url('/assets/css/BYekan/BYekan+\ Bold.ttf') format('truetype');
    font-weight: bold;
}

:root {
    --primary: #2C7EF8;
    --primary-hover: #075CD9;
    --primary-on-light: #EBEDEF;
    --background-light: #EBEDEF;
    --on-background-light: #191C1E;
    --surface-light: #EBEDEF;
    --success: #90F677;
    --errors: #E63946;
    --primary__back: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary__back);
    font-family: 'BYekan', sans-serif;
}

li, a, button {
    font-family: 'BYekan', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    list-style: none;
}

.nav {
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem 104px;
    height: 2.5rem;
    justify-content: space-between;
    background-color: var(--primary__back);
}

.nav__links {
    display: flex;
    gap: 4vw;
    align-items: center;
    justify-content: center;
}

.nav__left {
    display: flex;
    gap: 0.5rem;
}

.svg {
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.375rem;
    border: none;
}

.button {
    border: none;
}

.header__bottom {
    width: 100%;
    background-color: inherit;
    position: relative;
    margin: auto;
    padding: 6rem 0;
    background: linear-gradient(to bottom, #ebf3ff, #ffffff);
}

.star1 {
    position: absolute;
    right: 332px;
    top: 60px;
}

.star2 {
    position: absolute;
    top: 24rem;
    left: 12rem;
}

.circle1 {
    position: absolute;
    top: 15rem;
    right: 1.25rem;
    z-index: -1;
}

.circle2 {
    position: absolute;
    top: 2rem;
    left: 0.5rem;
    z-index: -1;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
}

.h2__header {
    text-align: center;
    line-height: 1.2;
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--on-background-light);
}

.h1__header {
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.2;
    color: var(--on-background-light);
}

.blue__line{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem; 
}

.calltoaction {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--on-background-light);
}

.p__header {
    width: 51.688rem;
    text-align: center;
    color: var(--on-background-light);
}

.button__header {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button__login {
    background-color: var(--primary);
    display: flex;
    font-weight: 800;
    border-radius: 0.375rem;
    padding: 0.5rem 2.5rem;
    color: var(--primary-on-light);
    align-items: center;
    justify-content: center;
}

.button__aboutus {
    background-color: var(--primary-on-light);
    display: flex;
    font-weight: 800;
    border-radius: 0.375rem;
    padding: 0.5rem 3rem;
    color: var(--primary);
    align-items: center;
    justify-content: center;
}
main{
    padding-left: 10%;
    padding-right: 10%;
}

.main__container{
    display: flex;                  
    flex-direction: column;         
    gap: 4rem; 
}

.main__section1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__section2{
    display: flex;                  
    flex-direction: column;         
    gap: 2rem; 
}

.main__section2--part1{
    display: flex;                  
    flex-direction: column;         
    gap: 1.5rem;                   
    justify-content: center;        
    align-items: center; 
}

.h2main__section2{
    margin-left: auto;              
    margin-right: auto;             
    font-weight: 400;               
    font-size: 3rem;                
    margin-bottom: 0.5rem; 
}

.p__section2{
    margin-left: auto;              
    margin-right: auto;             
    font-weight: 400;               
    font-size: 1.25rem;             
    text-align: justify;            
    align-items: flex-start;
}

.cards__section2{
    background-color: var(--primary__back);  
    display: flex;                          
    justify-content: space-between;         
    align-items: center;                    
    gap: 1rem;
}

.card1{
    display: flex;                  
    border-width: 2px;             
    border-style: solid;            
    border-color: currentColor;     
    flex-direction: column;         
    border-radius: 0.75rem;         
    font-size: 0.75rem;             
}

.card1__{
    margin-left: auto;
    margin-right: auto;
}

.h3__card1{
    color: #070D31;
    margin-left: auto;
    margin-right: auto;
}

.p__card1{
    text-align: center; 
    font-weight: 400;
}

.card2{
    display: flex;
    border-width: 2px;
    border-style: solid;
    border-color: currentColor; 
    flex-direction: column;
    border-radius: 0.75rem; 
    font-size: 0.75rem;
    padding: 1rem;
}

.section3{
    display: flex;
    justify-content: space-between;
}

.section3__right{
    display: flex;                  
    flex-direction: column;         
    width: 50%;                     
    gap: 0.75rem; 
}

.h4__section3{
    font-size: 1.25rem;
}

.h2__section3{
    font-size: 2.25rem;
}

.p__section3{
    font-size: 1.125rem;
}

.svg__section3{
    display: flex; 
    padding-top: 2.5rem;
}

.section3__left{
    transform: scale(0.75);
}

.section4{
    display: flex;                  
    flex-direction: column;         
    gap: 3rem; 
}

.section4__header{
    display: flex;                  
    flex-direction: column;         
    justify-content: center;
}

.p__section4__header{
    margin-left: auto;              
    margin-right: auto;             
    text-align: center;             
    width: 50%;                     
    letter-spacing: 0.05em;
}

.section4__body{
    display: flex;              
    gap: 2.5rem; 
}

.section4__body__1{
    display: flex;                  
    flex-direction: column;         
    gap: 2rem; 
}

.testimon1{
    display: flex;                  
    flex: 1;                        
    flex-direction: column;         
    gap: 3rem;
}

.testimon1__{
    display: flex;      
    padding-top: 0.5rem;
}

.testimon__img{
    border-radius: 9999px; 
    transform: scale(0.75);
}

.testimon__title{
    display: flex;                  
    flex-direction: column; 
}

.h5__section4{
    font-size: 1.25rem;
}

.p__title__section4{
    font-size: 0.875rem;
}

.p__text__section4{
    text-align: left; 
    font-size: 0.875rem;
}

.testimon2{
    display: flex;                  
    flex-direction: column;         
    flex-grow: 0;                   
    gap: 3rem; 
}

.testimon3{
    display: flex;                                         
    flex-direction: column;         
    gap: 3rem;
}

.carosel__section4{
    padding-top: 1.25rem;           
    margin-left: auto;              
    margin-right: auto;             
    align-items: center;
}

footer{
    padding-left: 10%;  
    padding-right: 10%;
}

.footer__head{
    display: flex;                  
    justify-content: center;
}

.line1__footer{
    border-top-width: 4px;          
    border-bottom-width: 4px;       
    width: 2.5rem;                  
    height: 0;                      
    border-bottom-color: black;    
    border-style: solid;
}

.title__footer{
    font-size: 2.25rem;
}

.line2__footer{
    border-bottom-width: 4px;    
    border-bottom-color: black;  
    border-style: solid; 
}

.footer__body{
    display: flex;                  
    justify-content: space-between; 
    gap: 3rem; 
}

.footer__right{
    display: flex;                  
    flex-direction: column;         
    gap: 1rem; 
}

.fax__footer{
    display: flex;          
    gap: 0.5rem;  
}

.span__fax__footer{
    transform: scale(0.75) scaleX(-0.5);
}

.span__phone__footer{
    transform: scale(0.75);
}

.footer__left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.khabarname{
    display: flex;
    justify-content: space-between;
    border-width: 2px;
    border-style: solid; 
    border-radius: 0.375rem;
}

.button__footer{
    background-color: var(--primary);
    color: var(--primary-on-light);
    border-radius: 0.375rem;
    margin: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;     
}

.rights__footer{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}